.react-multiple-carousel__arrow--right {
  right: -13px;
  height: 90%;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.react-multiple-carousel__arrow--right:hover {
  background-color: black;
}

.react-multiple-carousel__arrow--left {
  left: -13px;
  height: 90%;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.react-multiple-carousel__arrow--left:hover {
  background-color: black;
}
