@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: initial;
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  NavLink {
    @apply no-underline;
  }
}

#listitems {
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}

#animeAboutCoverImageGradient {
  mask-image: linear-gradient(to bottom, black 25vh, transparent 100vh);
}

#pagination > ul > li > button {
  color: white;
}

#pagination > ul > li > button:hover {
  background-color: #444;
}

#pagination > ul > li > .MuiPaginationItem-root {
  color: white;
}

button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-page.MuiPaginationItem-outlined.MuiPaginationItem-outlinedPrimary.MuiPaginationItem-sizeLarge {
  border: 1px solid #8b5cf6;
}
