@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #222;
  overflow-x: hidden;
}

@layer base {
  NavLink {
    @apply no-underline;
  }
}

#listitems {
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}

#animeAboutCoverImageGradient {
  mask-image: linear-gradient(to bottom, black 25vh, transparent 100vh);
}
